
img{
    width: 80%;
    height: 20%;
    object-fit: cover;
    Padding: 0% 20% 5% 20%;
}
main{
    width: 80%;
    height: 20%;
    object-fit: cover;
    Padding: 5% 20% 5% 20%;
    overflow-x:hidden;
}
header{
    width: 80%;
    height: 20%;
    object-fit: cover;
    Padding: 5% 20% -5% 20%;
    flex: 0 0 auto;
    display: inline-block;
    text-align: center;
}
h1{
    font-size: 5vh;

}
footer{
    width: 80%;
    height: 20%;
    object-fit: cover;
    Padding: 0% 20% 5% 20%;
    flex: 0 0 auto;
    display: inline-block;
    text-align: center;
}
a:link, a:visited {
    background-color: #f2e8da;
    color: #594a42;
    border: 0.4vh solid #594a42;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: green;
    color: white;
}