
img{
    width: 50%;
    height: 20%;
    object-fit: cover;
    Padding: 0% 20% 2% 20%;
}
main{
    height: 20%;
    object-fit: cover;
    Padding: 0% 20% 0% 20%;
    overflow-x:hidden;
}
header{
    width: 80%;
    height: 20%;
    object-fit: cover;
    flex: 0 0 auto;
    display: inline-block;
    text-align: center;
}
h1{
    font-size: 5vh;

}
footer{
    object-fit: cover;
    Padding: 0% 20% 0% 20%;
    flex: 0 0 auto;
    display: inline-block;
    text-align: center;
}
a:link, a:visited {
    background-color: #f2e8da;
    color: #594a42;
    border: 0.4vh solid #594a42;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: green;
    color: white;
}
@media only screen and (max-device-width: 1080px) {
    img{
        width: 80%;
    }
}
